html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $writing-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo,
h1,
h2,
h3:not(.student-title) {
  font-family: "Raleway", sans-serif;
}

.logo,
h1,
h2 {
  font-weight: 700;
}

h1 {
    text-align: center;
    font-size:3rem;
    @include large-tablet {
        font-size: 4.5rem;
        text-align:left;

    }
}

.logo,
h2 {
  font-size: 2.5rem;
  @include large-tablet {
      font-size:3rem
  }
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  &.student-title {
    text-align: center;
  }
}

a p {
    &.date {
        
    font-size:1rem;
    color:$date-color;
    }
    &.student-more {
        font-size: 1rem;
    }
}

header,
section.jumbotron,
section.students,
footer {
  color: $white;
}

section.jumbotron .container .jumbotron-msg-wrapper a {
  font-size:2.5rem;
  font-weight:600;
}

address {
    font-style:normal;
}

.legal-menu {
    font-size:1rem;
}