html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $writing-dark;
  @include large-phone {
    font-size:1.25rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.logo,
h1,
h2,
h3:not(.student-title) {
  font-family: "Raleway", sans-serif;
}

.logo,
h1,
h2 {
  font-weight: 700;
}

h1 {
    text-align: center;
    font-size:3rem;
    @include screen {
        font-size: 4.5rem;
        text-align:left;

    }
}

.logo,
h2 {
  font-size: 2.5rem;
  text-align: center;
  @include large-tablet {
      font-size:3rem
  }
}

h2 {
  margin-bottom: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  &.student-title {
    text-align: center;
  }
}

.card p {
    &.date {
        
    font-size:1rem;
    color:$date-color;
    }

    &.student-more {
        font-size: 1rem;
    }
    &.card-more {
      font-size: 1.25rem;
      @include large-phone {
        font-size:1.5rem;
      }
    }
}

header,
section.jumbotron,
section.students,
footer {
  color: $white;
}

 .menu {
   font-weight:600;
 } 

section.jumbotron .container .jumbotron-msg-wrapper a {
  display:block;
  font-size:1.5rem;
  font-weight:600;
  @include screen {
    font-size:2.5rem;
  }
}

address {
    font-style:normal;
    line-height:2.25rem;
}

.legal-menu {
    font-size:1rem;
}
