
// Colors

$white:#fff;
$orange:#FD7E37;
$writing-dark:#331100;
$shadow-color:#00000029;
$border-color:#707070;
$date-color:#663014;

//Map of breakpoints (from Boostrap, changed to em)

$breakpoints: (
  xs: 0,
  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em
);